* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.profile {
    display: flex;
}

.profileBody {
    width: 100%;
}

.welcome {
    margin: 65px 0 0 107px;
}

.hello {
    font-size: 48px;
    margin-right: 15px;
}

.firstName {
    font-size: 48px;
    color: rgba(230, 0, 0, 1);
}

.congratulation {
    font-weight: 400;
}

.helloFirstName {
    display: flex;
    margin: 0 0 25px 0;
}

.datas {
    margin: 77px 90px 0 100px;
    display: flex;
    justify-content: space-between;
}

.smallGraphs {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.dailyActivity {
    display: flex;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    padding: 24px 26px 23px 32px;
    width: 835px;
    height: 320px;
    flex-direction: column;
    justify-content: space-between;
}

.dailyActivityLegend {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nutrient {
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin: 0 0 39px 0;
    width: 258px;
    height: 124px;
    display: flex;
    align-items: center;
}

.nutrientImg {
    width: 60px;
    height: 60px;
    margin: 0 24px 0 32px;
}

.nutrientQuantity {
    font-size: 20px;
    font-weight: 700;
}

.nutrientName {
    color: rgba(116, 121, 140, 1);
    font-size: 14px;
    font-weight: 500;
}

.legend {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 32px;
}

.legendText {
    margin: 0 0 0 10px;
    color: #74798C;
    font-size: 14px;
}

.customTooltipDaily {
    background: #E60000;
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0 4px 0;
}

.customTooltipTextDaily {
    font-size: 7px;
    color: white;
    line-height: 24px;
}

ul {
    display: flex;
}

.sessionAverage {
    width: 258px;
    height: 263px;
    background: #FF0000;
    padding: 29px 12px 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.customTooltipAverage {
    background: white;
    width: 39px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customTooltipTextAverage {
    font-size: 8px;
    color: black;
    line-height: 24px;
}

.averageTitle {
    width: 147px;
    height: 48px;
    color: white;
}

.performance {
    width: 258px;
    height: 263px;
    background: #282D30;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.score {
    width: 258px;
    height: 263px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreTitle {
    font-size: 15px;
    margin: -226px 185px 0 0;
    position: absolute;
}

.scoreValue {
    font-size: 24px;
    position: absolute;
}

.scoreText {
    position: absolute;
    margin: 80px 0 0 0;
    font-size: 16px;
    color: #74798C;
    width: 70px;
    line-height: 26px;
    text-align: center;
}

.nutrients {
    margin: 0 30px 39px 30px;
}

@media screen and (max-width: 1439px) {
    .datas {
        margin: 77px 90px 0 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .nutrients {
        display: flex;
    }

    .nutrient {
        background: #FBFBFB;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;
        margin: 0 15px 0 0;
        width: 200px;
        height: 124px;
        display: flex;
        align-items: center;
    }

    .smallGraphs {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 0;
    }
}